<%- include("./partials/header.ejs") %>
    

<div id="main">
    <a href="/music">List of Songs (index)</a> |
    <a href="/music/new"> Make a new Song</a>





<h1> Song Index Page </h1>
    <link rel="stylesheet" href="/css/style.css">
    <ul>
        <% for (let i=0; i < Song.length; i++) { 
            console.log(Song[i].id);
            let songNumber = i + 1 
            %>
            
            
            <li>
                <a href="/music/<%= Song[i].id%>">
                    <%= Song[i].SongTitle %>
                </a>
            

                <form action="/music/<%=Song[i].id%>?_method=DELETE" method="POST">
                    <input type="submit" value="DELETE" />  
                </form>
        

                
            </li>


      <%  } %>
    </ul>
    
</div>
    
<%- include("./partials/footer.ejs") %>   